
  body {
    font-family: arial;
  }

 
  table, tr, td { 
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px; 
  }
   
 table.noborder, table.noborder tr, table.noborder td {
    padding: 5px;
    border: none;
    border-collapse: collapse;
  }

.button {
  background-color: dimgrey;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 5px solid lightgrey;
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  white-space: normal;		/* THIS ALLOWS WORD WRAP ON BUTTON */ 
}

.activeButton {
  background-color: dimgrey;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 5px solid orange;
  text-align: center;
  width: 100%;
  padding: 10px 20px;

}
.header {
  text-align: center;
  padding: 10px;
  background-color: lightgrey;

}

.container {
  display: flex;
  flex-direction: row;
}


.topMenu {
  background: lightgrey;
  display: flex;
  justify-content: center;
}

.sideMenu {
  width: 250;
  padding: 20px;
  background: lightgrey;
  display: inline-block;
}

.scenario {
  width: 100%; 
  padding-top: 45%;		/* this is important, it sets the aspect ratio of the iframe */
  position: relative;
}

.scenario iframe {
  border: none;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
}

.steps {
  padding: 20px;
}

.iframe {
  font: monospace;
  background-color: black;
  color: lime;
  border: none;
  font-weight: bold;
 }
